pkgbase = forkstify-bin
	pkgdesc = Music player that plays by branches, wired to Spotify, over a catalog you can fork
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/aropixel/forkstify
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = git
	optdepends = github-cli: fork the reference catalog from the setup
	optdepends = xdg-utils: open an artist in the browser (ag)
	provides = forkstify=0.2.0
	conflicts = forkstify
	options = !strip
	options = !debug
	source = forkstify-0.2.0.tar.gz::https://github.com/aropixel/forkstify/releases/download/v0.2.0/forkstify-0.2.0-x86_64-linux.tar.gz
	sha256sums = ee9a4f359e62da321a11ab8c801e18afee70bb4e2f396bf2bcee1ccc75f681ea

pkgname = forkstify-bin
